/* Global color variables */
:root {
  --main-bg-color: #000000; /* Main background color */
  --main-bg-color-alt: #110C77; /* Alternative main background color */
  --accent-color: #1da9c2; /* Portal borders and accents OR 27c4c4 */
  --portal-background-color: #1f1f1f; /* Portal background color */
  --portal-icon-color: #000000; /* Icon for the Portal type in the upper left hand corner of each portal */
  --scroll-arrow-background-color: #1da9c2; /* Scroll button background color */
  --scroll-arrow-color: #000000; /* Scroll button arrow color */
  --file-download-button-color: #FFFFFF; /* File Portal Type download button border and text color */
  --file-download-icon-color: #1da9c2; /* File Portal Type icon color */
  --link-color: #007bff; /* Hyperlink color */
  --cursor-image: url('/images/rocket-cursor.png'); /* Cursor image on Desktop App */
}

/* Import Anta font */
@font-face {
  font-family: "Anta";
  src: url("/fonts/Anta/Anta-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

html, html * {
  cursor: var(--cursor-image), auto;
}

body {
  background-color: var(--main-bg-color);
}

@media (max-width: 600px) {
  body {
    background-color: var(--main-bg-color);
  }
}
